@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

$roboto: 'Roboto', serif; 
.container{
  max-width: 1340px;
  width: 100%;
  padding: 0 10px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  position: relative;
}
*{
  font-family: $roboto;
}
body{
  overflow-x: hidden;
  position: relative;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.panel{
  height: 100vh;
  width: 100vw !important;
}
#root{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  min-height: 100vh;
  
}
li{
  list-style: none;
}
.color-blue{
  color: rgb(0,212,255);
}

p{
  margin-bottom: 0 !important;
}
html{
  scroll-behavior: smooth;
}
// footer
.footer{
  background-color: #e2e5de;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, rgb(255, 8, 68) 0%, rgb(255, 177, 153) 100%);
  border-radius: 5px;
  behavior: "smooth";
}
::-webkit-scrollbar {
  width: 10px;
}
.hide{
  display: none;
}
.bg-gradients{
  background: linear-gradient(to top, rgb(255, 8, 68) 0%, rgb(255, 177, 153) 100%);
}
section:not(.address , .partners , .about-section ){
  // min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  width: 400vw;
  display: flex;
  flex-direction: row;
}