section:not(.address) {
  padding-bottom: 3rem;
}
section{
  border-radius: 20px;
}
.bg-grey{
  background-color: #f4f4f4;
}
// Hero Section
.swiper-slide {
  display: flex !important;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  max-height: 600px;

  &:not(.swiper-slide-visible) {
    opacity: 0 !important;
  }
}
.home_wrapper .swiper-pagination{
  bottom: 10px !important;
  top: unset !important;
}
.home_wrapper .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: rgb(255, 8, 68) ;
}
// .swiper-pagination-bullet{
//   background-color: #b8fff2 !important;
// }

.swiper-img {
  // max-width: 70%;
  width: 100%;
  height: 80dvh;
  object-fit: cover;
  object-position: center;
}
.swiper_wrapper{
  height: 100vh;
}

@media (max-width:768px) {
  .swiper-img{
    height: 50dvh;

  }
}


// Section Service
.services{
  padding: 3rem 15px;
  margin-bottom: -1px;
    position: relative;
  
    &::after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      width: 50%;
      height: 100%;
      background-color: #b8fff2;
      z-index: -1;
    }
}
.card_holder{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  .card {
    width: calc((100% / 3) - 20px);
    transition: 0.5s;
    padding-bottom: 20px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    // background-color: transparent;
    &-body {
      & > h5 {
        color:rgb(255, 8, 68);
      }
    }
    & > p {
      color: #000;
    }
    &_holder {
      display: flex;
      margin-top: 50px;
      justify-content: space-around;
      margin-bottom: 50px;
    }
    &_img {
      overflow: hidden;
      & > img {
        height: 200px;
        transition: 0.5s;
      }
    }
  }
  .card:hover {
    transform: translate(0, -5px);
}
@media (max-width:768px) {
  .card_holder{
    flex-direction: column !important;
    align-items: center;
    justify-content: center;

  }
  .card{
    width: 100%;
    align-self: center  ;
  }
}

@media (max-width:768px) {
  .heading{
    font-size: 18px !important;
  }
}

}
// h4 :not(.display-7){
//   color: rgb(255, 55, 68) !important;
//   font-size: 2.5rem !important;
// }
h5:not(.subject-title , .card-title)
{
  // color: rgb(255, 55, 68) !important;
  font-size: 2.5rem !important;
}

// Section About
.wrap__about{
  position: inherit;
  z-index: 1;
}
.section {
  &-about {
    background-color: #b8fff2;
    padding: 3rem 2rem;
    border-radius: 0;
    position: relative;
    // margin-bottom: -5px;

    &::after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      background-color: #fff;
      width: 50%;
      height: 100%;
    }
    &-left {
      margin-right: 20px;
      padding-left: 15px;
    }
    &-right {
      padding-right: 15px;
    }
    &-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &:hover {
      > h4 {
        color: rgba(9, 9, 121, 1);
      }
    }
    &-img {
      transition: 0.5s ease-in-out;
      max-width: 250px;
    }
    &-holder {
      border-radius: 15px;
      overflow: hidden;
      transition: 1s ease-in-out;
    }
  }
}
.section-about-holder:hover {
  > img {
    transition: 0.5s ease-in-out;
    transform: scale(1.3);
    filter: blur(0.2);
  }
}

// Opportunity
.section_opportunity{
  position: relative;

  &::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #b8fff2;
    // opacity: 0.6;
    z-index: -1;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  &::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #b8fff2;
    // opacity: 0.6;
    z-index: -1;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }
}
.opportunity-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  padding: 40px 15px;
  margin-top: 20px;
  
}
.opportunity-country {
  width: calc(100% / 3);
  list-style: none;
  text-align: center;
  transition: 0.5s;
  & > img {
    height: 300px;
    // width: 300px;
  }
  & > figure {
    width: 100%;
  }
  &:hover {
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  }
}
.fig {
  width: 100%;
}
.fig-img {
  height: 300px;
  width: 100%;
}
.figure-caption {
  margin-top: 10px;
  font-size: 1rem !important;
  color: rgb(0, 0, 0) !important;
}

@media (max-width:768px) {
  .opportunity-list{
    flex-direction: column;
  }
  .opportunity-country{
    width: 100%;
  }
}
// Section preparation
.section_preparation{
  // background-color: #b8fff2;
  border-radius: 0;
  margin-top: -1px;
  // opacity: 0.6;
  padding: 3rem 0;
  position: relative;

  &::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);;
    width: 100%;
    height: 100%;
    background-color: #b8fff2;
    z-index: -1;
  }
}
.preparation {
  &-type {
    display: flex;
    gap: 25px;
    padding: 0 30px;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid red;
    box-shadow:0 3px  10px rgba(0 0 0/ 0.3);

  }
  &-left {
    flex: 1 1 auto;
    width: 400px;
    padding: 20px 0;
    background-color: #ffffff;
  }
  &-right {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    justify-content: center;
    padding-left: 10px;
    background-color: transparent !important;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 30px 5px;
  }
}
.background-gradient{
  background: linear-gradient(to top, rgb(255, 8, 68) 0%, rgb(255, 177, 153) 100%);
}

.preparation-img {
  max-width: 300px;
  height: 200px;
  object-fit: contain;
  object-position: center;
  padding: 0 20px;
}

@media(max-width:768px){
  .preparation-type{
    flex-direction: column;
    width: 100%;
    padding: 15px 5px;
  }
  .preparation-left{
    width: 100%;
  }
}
.display-4 {
  position: relative;
  width: fit-content;
  margin-left: 15px;
  width: 100%;

}
.display-5 {
  color: rgb(255, 55, 68);
}


// Subjects
.subject{
  position: relative;
  color: #454545 !important;

  &::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    width: 100%;
    height: 100%;
    background-color: #b8fff2;
    z-index: -1;
  }
}
.subjects {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  color: #454545 !important;
  &_wrapper {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    flex-wrap: wrap;
    align-items: center;
  }
  &-icon {
    width: 50%;
    border-radius: 50%;
    height: 150px;
    transition: 0.5s;
    padding: 0 10px;
    // background: linear-gradient(to right, rgb(255, 8, 68) 0%, rgb(255, 177, 153) 100%);
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    & > svg {
      width: 75%;
      height: 100px;
      & > path {
        fill: #454545;
      }
    }
  }
}
.subjects:hover {
  .subjects-icon {
    box-shadow: 0 10px  10px rgba(0 0 0 / 0.3);
  }
}
.subjects_wrapper:hover{
  .subjects-icon:not(:hover){
    filter: blur(5px);
  }
}

@media (max-width:768px) {
  .subjects_wrapper{
    flex-direction: column;
  }
  .subjects{
    width: 100%;
  }
}

// Map
.map-holder {
  width: 100%;
  height: 400px;
  & > iframe {
    width: 100%;
    height: 100%;
  }
}

// Partners
.partners {
  &-list {
    display: flex;
    align-items: flex-end;
  }
  &-partner {
    width: calc(100% / 4);
  }
  &_wrapper {
    & > .swiper {
      & > .swiper-wrapper {
        overflow: hidden !important;
        & > .swiper-slide {
          overflow: hidden ;
          display: flex;
          justify-content: space-around;
          align-items: baseline;
          &>img{
            height: 300px !important;
            width: calc(40%);
            object-fit: contain;
          }
        }
      }
    }
  }
}

// Address
.address{

  &_wrapper{
    height: 300px;
  }
  &_col{
    display: flex;
    width: 100%;
    gap: 10px;
  }
  &_row{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: calc(100% / 3);
    width: 100%;
    &>.address_desc{
      &>p{
        margin-bottom: 0 !important;
        margin-right: 10px;
      }
    }
  }
}
.mr-2{
  margin-right:0.5rem
}
.address_desc:nth-of-type(0){
  &>p{
    margin-right: 10px;
  }
}
.icon_div{
  width: 50px;
  &>a{
    &>svg{
      transition: 0.5s;
    }
  }

  &:hover{
      &>a{
        &>svg{
          transform: scale(1.2);
          &>path{
            fill: rgb(0, 212, 255);
          }
        }
      }
  }
}

.content{
  width: 400vw;
  display: flex;
  flex-direction: row;
}
.w-md-50{
  width: 50% ;
}
@media (max-width:768px){
  .w-md-50{
    width: 100%;
  }
  .address_wrapper{
    height: unset;
  }
  .content{
    width: fit-content !important;
    max-width: fit-content !important;
    height: fit-content !important;
    min-height: fit-content !important;
    flex-direction: column !important;
  }
  .pin-spacer{
    width: fit-content !important;
  }
  .address_col{
    flex-direction: column;
    &:nth-of-type(1){
      flex-direction: row;
    }
  }
  .address_desc{
    // flex-direction: column;

    &:nth-of-type(1){
      flex-direction: row !important;
    }

    p{
      font-size: 10px;
    }
  }
  .icon-col{
    flex-direction: row !important;
    width: 100% !important;
  }
  .address_row{
    width: 100%;
    max-width: unset;
  }
  .address_row > .address_desc > p{
    margin-right: 0;
    font-size: 12px;
  }
}
